@model uchet1.Models.Users
@using uchet1.DAO;
@{
    ViewBag.Title = "SetGroupForStudent";
}
@{
    RecordsDAO recordsDAO = new RecordsDAO();
    List<SelectListItem> StudGroupList = new List<SelectListItem>();

    foreach (var item in recordsDAO.dekGetAllStudentGroups())
    {
        StudGroupList.Add(new SelectListItem() { Text = item.studgroupname.ToString(), Value = item.studgroupid.ToString() });
    }
}

<h2>Установить группу для студента</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>@Html.ActionLink("Список студентов", "Students")</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group" hidden>
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control",  } })
                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.fio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fio, new { htmlAttributes = new { @class = "form-control", disabled="disabled" } })
                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.studgroupname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.studgroupid, StudGroupList)
                @Html.ValidationMessageFor(model => model.studgroupid, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Установить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Students")
</div>
